<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/src/assets/css/styles.css">
</head>
<body>
  <div class="container">
    <h1 class="login-title">LOGIN</h1> 
    <form id="login-form">
      <input type="text" id="email" placeholder="Correo electrónico" required>
      <input type="password" id="password" placeholder="Contraseña" required>
      <button type="submit">Iniciar sesión</button>
    </form>
    <div class="separator">o</div>
    <button id="google-login">Iniciar sesión con Google</button>
    <p class="register-text">¿No tienes cuenta? <a href="#" id="register-link">Registrarse</a></p> 
  </div>
  <script src="/src/assets/js/login.js"></script>
</body>
</html>